<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8">
     <title>OnlyYesterday</title>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
     <script type='text/javascript' src='http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.0.0.js'></script>
     <script type="text/javascript" src="js/main.js"></script>
  </head>
  <body>
  <p>hello sinatra</p>
  <p><%= foo %></p>
  <p><%= @bar %></p>
  </body>
</html>